**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.ipynb_checkpoints/

.gitattributes
.idea/
.vscode/

.venv/
env/
venv/

dist/
build/
*.egg-info/

data/
logs/
tmp/
.cache/
.DS_Store

docker-compose.override.yml

